@import "$yo-config/core/reset";
@import "$yo-config/layout/yo-root";
@import "$yo-config/layout/yo-flex";
@import "$yo-config/fragment/yo-list";
@import "$yo-config/element/yo-badge";

.yo-badge-new {
    color: #1ba9ba;
    border-radius: .03rem;
    background-color: white;
    border:0.005rem solid #1ba9ba;
}
.yo-list{
   padding:0 0.2rem; 
}
.demo-list-item{
    margin:0.2rem 0;
}